@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    font-family: 'Oswald', sans-serif;
}

html {
  --scrollbarBG: #CFD8DC;
  --thumbBG:  rgb(65, 79, 107);
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}




.navbar{
    background: transparent;
}

.navbar .nav-link{
    color: white;
    font-weight: 400;
    font-style: italic;
  
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    width: fit-content;
    transition: 0.3s;
}
.navbar .nav-link:visited{
    color: white;
}
.navbar .nav-link:hover{
    transform: translateY(-5px);
}

button.navbar-toggler.collapsed{
  border: none;
  outline: none;
    
}
button.navbar-toggler:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.hero{
    background-image: url("./hero.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
   
}
@media(max-width:1200px){
    .hero-mobile{
        padding: 0px 40px;
        position: absolute;
        
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.hero-text{
    display: none;
}
@media(min-width:1200px){
    .hero-text{
        display: block;
        position: absolute;
        width: 510px;
       top:24.8%;
       left: 25.2%;
        
    }
    .hero-mobile{
        display: none;
    }
}

  
.hero-footer h4{
font-weight: 600;
}

.hero-footer .mountains{
    color:  rgb(65, 79, 107);
    margin-top: -6px;
}

.hero-footer .nav-link{
    color:  rgb(65, 79, 107);
    font-weight: 400;
    font-style: italic;
  
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    width: fit-content;
    transition: 0.3s;
}
.hero-footer .nav-link:visited{
    color:  rgb(65, 79, 107);
}
.hero-footer .nav-link:hover{
    transform: translateY(-5px);
}




/* History Hero */

.history-hero{
    background-image: url("./peak.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}



 .number{
    font-size: 100px;
    font-weight: 800;
    color: rgba(65, 79, 107, 0.502);

}
 #dot{
    height: 15px;
    width: 15px;
    background: rgba(65, 79, 107, 0.502);
}


 .headline{
margin-top:52px;
margin-left: 3px;
color:  rgb(65, 79, 107);
}

@media(max-width:567px){
    .headline{
        margin-top:60px;
       
        
        }
}

.history-text p{
   margin-left: 70px;
}
.history-hero-gallery{
    padding: 20px 10px 10px 10px;
    background-image: url("./gallery-bg.png");
    height: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 0;
    
}


/*------------- CSS For Mountain Section ---------------------*/
.mountain-hero{
    background-image: url("./mountain-hero.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.mountain-bar{
    background: blue;
    color: white;
    
}


/* Inactive tab */
.myClass{
    background: rgb(65, 79, 107);
   
    padding: 0% 8% 0% 8%;
}
.myClass .nav-link{
    margin: 0px;
    padding: 8px 16px;
}
.myClass .nav-link.active a:hover{
    border: none;
    outline: none;
}
.myClass .nav-link.active{
    
    background: rgb(176, 180, 190);
    color: rgb(65, 79, 107);
 border-radius: 0px;
  text-decoration: underline;
  text-underline-offset: 5px;
padding: 8px 16px;
margin: 0px 16px;
}
.myClass .nav-link{
  background: transparent;
    color: white;
    transition: 0.3s;
    border: none;
   
    margin: 0px 16px;
    transition: 0.3s;
}
.myClass .nav-link:hover{
   border: none;
}

  
.myClass .nav-link:hover{
    transform: translateY(-5px);
    
}

.mountain-hero .card{
    background: rgba(255, 255, 255, 0.702);
    margin: 100px 0px 0px 100px;
    padding: 10px 20px;
    border: none;
    border-radius: 0px;
    
}
@media(max-width:768px){
    .mountain-hero .card{
        background: transparent;
        margin: 10px 0px 0px 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 0px;
        
    }
}


.mountain-hero .accordion-button{
    background: rgb(65, 79, 107);
    color: white;
}
.mountain-hero .accordion-button::after{

    background-color: white;
   
    border-radius: 6px;
    
}


.mountain-footer .mountains{
    color: rgb(65, 79, 107);
    margin-top: -6px;
    border: none;

   
      
}

.mountain-footer{
 
    position: absolute;
    bottom: 0;
    background: rgb(65, 79, 107);
    width: 100%;
    color:  rgb(99, 118, 157);
}
.mountain-footer h4,
.mountain-footer .mountains
{
    color:  rgb(99, 118, 157);
}



.mountain-footer p{
    margin: 0px;
    font-style: italic;
    font-weight: 400;
}



  
._HISTORY {
    font-size: 11.264px;
    font-family: "Oswald";
    color: rgb(65, 79, 107);
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    -webkit-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    -ms-transform: matrix( 2.84103421435448,0,0,2.84103421435448,0,0);
    position: absolute;
    left: 481.551px;
    top: 1031.242px;
    z-index: 85;
  }
  

